@import "./../variables";
@import "./../inputSlider";

/////////////////////////////
// ----- home styles ----- //
/////////////////////////////
#home-wrapper {
  font-family: 'Lato';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.home-top {
  margin-top: 10vh;
  div {
    font-weight: bold;
    // position: absolute;
    top: 50%;
    transform: translate(-50%);
  }
}
