$darkBlue: #406BB2;

/////////////////////////////
// ----- home styles ----- //
/////////////////////////////
#home-wrapper {
  font-family: 'Lato';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}
// svg {
//   margin-top: 20vh;
// }
.home-top {
  // width: 650px;
  // height: 360px;
  // background: #FFE3A8;
  // width: 0;
  // height: 0;
  // border-left: 300px solid transparent;
  // border-right: 300px solid transparent;
  // border-bottom: 350px solid #FFE3A8;
  // margin-bottom: 8vh;
  margin-top: 10vh;

  div {
    font-weight: bold;
    // position: absolute;
    top: 50%;
    transform: translate(-50%);
  }
}

.home-bottom {
  width: 150px;
  height: 70px;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  background: $darkBlue;
  border-radius: 5px;
  display: flex;
  align-items: center;

  span {
    margin: 20px;
  }
}
