// @import url(https://fonts.googleapis.com/css?family=Lato:300|Quicksand);
// replaced font import with index.html link
@import "variables";

@mixin menuBorder() {
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
}

///////////////////////////////
// ----- global styles ----- //
///////////////////////////////
html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato';
}

*, *::before, *::after {
  box-sizing: border-box;
  // outline: 1px solid red;
}

a {
  text-decoration: none;
  color: white;
}
