$darkBlue: #406BB2;

////////////////////////////////
// ----- lessons styles ----- //
////////////////////////////////
.lessons-wrapper {
  width: 225px;
  height: 91vh;
  background: rgba(0,0,0,0.10);
  overflow: hidden;
  position: relative;
}

.lessons {
  max-height: 100%;
  font-family: 'Quicksand';
  margin-left: 10px;
  overflow: auto;
  margin-right: -17px;
  padding-right: 0;
  padding-bottom: 65px;

  .lesson-group {

  }

  h3 {
    margin: 5px 0 0 0;
    cursor: pointer;
  }

  h4 {
    color: black;
    font-weight: bolder;
    // margin-top: 0;
    // margin-left: 25%;
    margin: 0 auto 0 25%;
  }

  ul {
    margin: 0 auto 0 auto;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
  }

  li {
    list-style: none;
    line-height: 35px;
    cursor: pointer;
    color: #808080;
  }

  .lesson-title {
    color: black;
    // font-weight: bolder;
    // display: none;

    h3 {
      font-size: 17px;
    }
  }

  .lesson-sections {
    display: none;
  }

  .expand {
    display: block !important;
  }

  .take-assessment {
    width: 165px;
    height: 65px;
    color: white;
    background: $darkBlue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
}
