////////////////////////////////
// ----- lessons styles ----- //
////////////////////////////////
.lessons-content-wrapper {
  position: relative;
}

.content-wrapper {
  width: 64vw;
  height: 91vh;
  position: relative;
  float: left;
  // top: 0;
  // right: 0;
}

.video-placeholder {
  width: 400px;
  height: 150px;
  background: silver;
  position: absolute;
  left: 52%;
  transform: translate(-50%);
  margin-top: 15px;

  span {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.lessons-practice {
  width: 400px;
  height: 300px;
  background: rgba(0,0,0,0.1);
  position: absolute;
  left: 52%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 35px;

  form {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);

    input {
      margin: 10px 10px 15px auto;
    }
  }
}
