<div class="lesson-tests-wrapper">
  <section class="lessonTests" lesson-tests-directive>
    <form method="POST">
      <h2>JavaScript<br>{{title}}<br>Test</h2>
      <div class="final-score"><span>{{testScore}}%</span><span>{{message}}</span></div>
      <div class="multiple-choice-wrapper" ng-model="testObject" ng-repeat="question in testObject.questions">
        <div class="quiz-options"><span class="test-question">{{question.index + 1}}. {{question.question}}:</span><br>
          <button class='quiz-button' ng-model='choice' ng-repeat="choice in question.multipleChoice" ng-click="addAnswer([choice, question.index]); answerClicked($event)">{{choice}}</button>
        </div>
      </div>
    </form>

    <form class="submit-functions-test">
      <div>
        <input class="grade-test" type="button" value="Check Answers" ng-click="gradeTest()" />
        <input class="reset-test" type="button" value="Start Over" ng-click="resetTest()" />
      </div>
    </form>
  </section>
</div>
