@import url(https://fonts.googleapis.com/css?family=Lato:300|Quicksand);

$darkBlue: #406BB2;
$lightBlue: #8FB9FF;
$navFontColor: #FFF;

@mixin menuBorder() {
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
}

///////////////////
// global styles //
///////////////////
html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

///////////////////////
// navigation styles //
///////////////////////
#navigation-bar {
  width: 100vw;
  height: 7vh;
  padding: 15px;
  font-family: 'Lato';
  color: $navFontColor;
  background: $darkBlue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home {

}

#profile-wrapper {

}


#logo {

}

#menu-navigation {
  // width: 10vw;
  height: auto;
  font-family: 'Quicksand';
  // border-left: 1px solid grey;
  // border-bottom: 1px solid grey;
  @include menuBorder;
  // display: flex;
  display: none;
  float: right;

  ul {
    // padding: 5px;
    padding-right: 25px;
    // text-align: justify;
  }

  li {
    color: $darkBlue;
    line-height: 35px;
    list-style: none;
  }
}

.expand {
  display: flex;
}
