<navigation-directive></navigation-directive>
<section ng-controller="assessmentController" id=assessment-view>

  <div class="code-input-wrapper">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <div ng-repeat="q in question" id="editor">function foo(items) {
    var x = "All this is syntax highlighted";
        return x;
  }       </div>
        </div>
      </div>
    </div>
  </div>
  <a ng-click="getAssessment()"class="assessment-eval" href=""><span >Submit Answer</span></a>

  <div class="code-input-wrapper">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="editor_1">function yoda(jedi) {
    var sith = "Yoda will always win";
        return x;
  }        </div>
        </div>
      </div>
    </div>
  </div>
  <a class="assessment-eval" href="#"><span >Submit Answer</span></a>

</section>
