#assessment-view {

  .code-input-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
  }
  .ace_editor  {
    height : 200px;
  }
  .assessment-eval {
    color: #406BB2;
    display: flex;
    justify-content: center;
    margin: 1em;
  }
  span:hover {
    color: #8FB9FF;
  }
  .stuff {
    color: #406BB2;
    width: 90vw;
    margin: 1em;
  }
  input {
    width: 100vw;
    height: 20vh;
  }
}
