#assessment-view {

  .code-input-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
  }
  #editor {
    height: 20vh;
    width: 90vw;
  }
  #editor_1 {
    height: 20vh;
    width: 90vw;
  }
  .assessment-eval {
    color: #406BB2;
    display: flex;
    justify-content: flex-end;
    margin: 1em;
  }
  span:hover {
    color: #8FB9FF;
  }
}
