@import "./../variables";
@import "./inputSlider"; /////////////////////////////
// --- mountain styles --- //
/////////////////////////////
#mtn-wrapper {
    font-family: 'Lato';
    position: relative;
    top: 50vh;
    left: 50%;
    width: 100vw;
    height: 91.75vh;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
#mountainScene-left {
    position: absolute;
    width: 0;
    height: 0;
    left: calc(50vw - 22em + 1px);
    top: calc(50vh - 22em);
    border-left: 22em solid transparent;
    border-bottom: 22em;
    border-bottom-style: solid;
    border-bottom-color: hsl(30, 23%, 29%);
    margin-top: 8vh;
    z-index: -3;
    div {
        font-weight: bold;
        position: absolute;
        top: 50%;
        transform: translate(-50%);
    }
}
#mountainScene-right {
    position: absolute;
    width: 0;
    height: 0;
    right: calc(50vw - 22em + 1px);
    top: calc(50vh - 22em);
    border-right: 22em solid transparent;
    border-bottom: 22em;
    border-bottom-style: solid;
    border-bottom-color: rgb(117, 111, 86);
    margin-top: 8vh;
    z-index: -3;
    div {
        font-weight: bold;
        position: absolute;
        top: 50%;
        transform: translate(-50%);
    }
}
#bgMountain-Left {
    position: absolute;
    width: 0;
    height: 0;
    left: calc(75vw - 13em + 1px);
    top: calc(53vh - 13em);
    border-left: 13em solid transparent;
    border-bottom: 13em solid rgb(82, 59, 40);
    // margin-bottom: 4vh;
    // margin-top: 4vh;
    z-index: -5;
}
#bgMountain-right {
    position: absolute;
    width: 0;
    height: 0;
    right: calc(25vw - 13em + 1px);
    top: calc(53vh - 13em);
    border-right: 13em solid transparent;
    border-bottom: 13em solid rgb(103, 95, 63);
    // margin-bottom: 4vh;
    // margin-top: 4vh;
    z-index: -5;
}
#bigDirt,
#bigDirt:after,
#bigDirt:before {
    position: absolute;
    width: calc(26vw + 36em);
    height: 0;
    right: calc(25vw - 13em + 1px);
    top: calc(57vh - 4em);
    border: 5em solid #423b2d;
    border-radius: 60%;
    z-index: -7;
}
#bigDirt {
  -webkit-box-shadow: 13em -3.4em 1px -2.75em #423b2d;
  -moz-box-shadow: 13em -3.4em 1px -2.75em #423b2d;
  box-shadow: 13em -3.4em 1px -2.75em #423b2d;

}
#bigDirt:before {}
#bigDirt:after {}
// #smallDirt{
//   position: absolute;
//   width: calc(20vw + 4em);
//   height: 0;
//   right: calc(25vw - 13em + 1px);
//   top: calc(53vh - 2em);
//   border: 70px solid rgb(103, 95, 63)
//   border-radius: 60%;
//   // margin-bottom: 4vh;
//   // margin-top: 4vh;
//   z-index: -7;
// }
.home-bottom {
    height: 70px;
    position: absolute;
    justify-content: space-around;
    top: 60vh;
    left: calc(50vw - 90px);
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    color: $navFontColor;
    background: $darkBlue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 2px 2px 5px;
    span {
        margin: 20px;
    }
}
// Buttons
.spawnTreesBtn {
    padding-top: 0;
    position: absolute;
    top: 69px;
}
.spawnRocksBtn {
    padding-top: 0;
    position: absolute;
    top: 46px;
}
.spawnSnowPeakBtn {
    padding-top: 0;
    position: absolute;
    top: 23px;
}
.spawnBackgroundBtn {
    padding-top: 0;
    position: absolute;
    top: 0;
}
.spawnCloudsBtn {
    padding-top: 0;
    position: absolute;
    top: 92px;
}
