<div id="mtn-wrapper">
    <button type="button" name="spawnTrees" class="spawnTreesBtn" ng-click="spawnTrees(3)">Spawn Trees</button>
    <button type="button" name="spawnRocks" class="spawnRocksBtn" ng-click="spawnRocks(3)">Spawn Rocks</button>
    <button type="button" name="spawnSnow" class="spawnSnowPeakBtn" ng-click="spawnSnowPeak(1)">Spawn Snow</button>
    <div id="home-top">
        
    </div>
    <!-- <button type="button" name="spawnClimber" class="spawnClimber" ng-click="spawnClimber(1)">Spawn Climber</button> -->

    <!-- <i class="climber"> -->
    <!-- <i></i>  head -->
    <!-- <i></i>  backpack -->
    <!-- <i></i>  bottocks -->
    <!-- <i></i>  left-arm -->
    <!-- <i></i>  torso -->
    <!-- <i></i>  shoulder -->
    <!-- <i></i> -->
    <!-- <i></i> -->

    <!-- </i> -->
    <!--
    <div id="trees">
        <i id="my-trees">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
        </i>
    </div> -->

    <a ui-sref="lessons">
        <div class="home-bottom">
            <span>
                Start your journey!
            </span>
        </div>
    </a>
</div>

<!-- .html jquery thing
  a different view for tests
  placeholder

  click on th etests underneath each section, take the ID from the parent, and put it in the box

  make a service for it to grab html from another document and shove it into the bos.




 -->
