#trees{
  width: 2.4em;
  height: 0px;
  position: relative;
  left: 0em;
  top: 1em;
}

.my-trees {
    position: relative;
}
i {
  position: absolute;;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;

}
.my-trees > i {
    border: 0.55em solid transparent;
    margin-top: -0.55em;
    border-bottom: 0.55em solid green;
    left: 1.045em;
    top: 0.78em;
}
.my-trees > i+i {
    border: 0.5526315789473684em solid transparent;
    margin-top: -0.5526315789473684em;
    border-bottom: 0.5526315789473684em solid green;
    left: -0.2em;
    top: 0.47em;
}
.my-trees > i+i+i {
    border: 0.39473684210526316em solid transparent;
    margin-top: -0.39473684210526316em;
    border-bottom: 0.39473684210526316em solid green;
    left: 1.185em;
    top: -1.1em;
}
.my-trees > i+i+i+i {
    border-style: none;
    width: 0.15em;
    height: 0.31em;
    background-color: #522200;
    left: 0.53em;
    top: -0.2em;
}
.my-trees > i+i+i+i+i {
    border: 0.23684210526315788em solid transparent;
    margin-top: -0.23684210526315788em;
    border-bottom: 0.23684210526315788em solid green;
    left: 2.3684210526315788em;
    top: 0.9473684210526315em;
}
.my-trees > i+i+i+i+i+i {
    border: 0.15789473684210525em solid transparent;
    margin-top: -0.15789473684210525em;
    border-bottom: 0.15789473684210525em solid green;
    left: 2.2105263157894735em;
    top: 0em;
}
.my-trees > i+i+i+i+i+i+i {
    border: 0.39473684210526316em solid transparent;
    margin-top: -0.39473684210526316em;
    border-bottom: 0.39473684210526316em solid green;
    left: 2.2105263157894735em;
    top: 1.1052631578947367em;
}
.my-trees > i+i+i+i+i+i+i+i {
    border: 0.39473684210526316em solid transparent;
    margin-top: -0.39473684210526316em;
    border-bottom: 0.39473684210526316em solid green;
    left: 2.2105263157894735em;
    top: 1.4210526315789473em;
}
.my-trees > i+i+i+i+i+i+i+i+i {
    position: relative;
    display: inline-block;
    width: 0.15789473684210525em;
    height: 0.3157894736842105em;
    background-color: green;
    left: 2.526315789473684em;
    top: 1.894736842105263em;
}
