@import "./../variables";
#trees {
    width: 2.4em;
    height: 0;
    position: relative;
    left: 0;
    top: 1em;
}
i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
}
.my-trees {
    position: relative;
}
@import "./../variables";
#trees {
    width: 2.4em;
    height: 0;
    position: relative;
    left: 0;
    top: 1em;
}
.my-trees {
    position: relative;
}
// tree styles are defined dynamically within mountain-Directive
.treeParts {
    margin: 0;
    padding: 0;
}
.treeTop {
    border: 0.39 solid transparent;
}
.treeMid {
    border: 0.55em solid transparent;
}
.treeBase {
    border: 0.55em solid transparent;
}
.treeTrunk {
    border: none;
    width: 0.31em;
    height: 0.31em;
    background-color: #522200;
}
