<navigation-directive></navigation-directive>
<section ng-controller="assessmentController" id=assessment-view>
  <div ng-repeat="q in questions" class="stuff">
    Instructions: <span class="assessmentQ">{{q.question}}</span>
  <div ng-model="userCode" ui-ace="{
    mode: 'javascript',
    theme: 'crimson_editor'
  }"></div>
  <!-- ANSWER: {{q.answer}} -->
    <button ng-click="eval(q, userCode); doSomeStuff(q);" ng-disabled="q.disabled" class="assessment-eval">eval</button>
</div>

<button id="submit-assessment" type="button" ng-click="submitAssessment(questions.length)">Submit Assessment</button>

</section>
