


#home-wrapper {
  font-family: 'Lato';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1; }

.home-top {
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 350px solid #FFE3A8;
  margin-bottom: 8vh;
  margin-top: 8vh; }
  .home-top div {
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translate(-50%); }

.home-bottom {
  width: 150px;
  height: 70px;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  background: #406BB2;
  border-radius: 5px;
  display: flex;
  align-items: center; }
  .home-bottom span {
    margin: 20px; }

.lessonTests h2 {
  text-align: center;
  color: #406BB2; }

.lessonTests .multiple-choice-wrapper {
  display: flex;
  justify-content: center;
  margin: 8em; }

.lessonTests .test-question {
  line-height: 3em; }

.lessonTests .quiz-options {
  text-align: center; }

.lessonTests button {
  background-color: #ebebeb;
  border: #fff 1px solid;
  color: #406BB2;
  width: 21.775em;
  height: 6em;
  transition: 0.3s;
  text-align: center;
  font-size: 1em;
  font-family: 'lato';
  border: none;
  border-radius: 0;
  line-height: 2rem;
  padding: 0 1rem;
  text-align: center;
  position: relative;
  margin: 2px auto; }

.lessonTests button:hover, .lessonTests button:active, .lessonTests button:focus {
  background-color: #8FB9FF;
  color: #fff;
  cursor: pointer;
  outline: 0; }

.lessonTests .code-input-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0; }

.lessonTests #editor {
  height: 40vh;
  width: 90vw; }

#login-section body {
  height: 100%;
  overflow: hidden;
  width: 100% !important;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

#login-section .backRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=231736de0bc92d79a6ee049208b9c283);
  background-size: cover;
  background-position: 50% 50%; }

#login-section .backLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1443521156453-f82c842b6e7f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=782f7123d51d573e591300a4d74e2c84);
  background-size: cover;
  background-position: 50% 50%; }

#login-section #login-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1; }

#login-section #slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

#login-section .topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%; }

#login-section .left {
  width: 50%;
  height: 100%;
  background: #2C3034;
  left: 0;
  position: absolute; }

#login-section .right {
  width: 50%;
  height: 100%;
  background: #f9f9f9;
  right: 0;
  position: absolute; }

#login-section .content {
  width: 250px;
  margin: 0 auto;
  top: 30%;
  position: absolute;
  left: 50%;
  margin-left: -125px;
  font-family: 'Lato'; }

#login-section .content h2 {
  color: #406BB2;
  font-weight: 300;
  font-size: 35px; }

#login-section .form-group {
  margin: 25px; }

#login-section button {
  background: #406BB2;
  padding: 10px 16px;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  margin: 15px 15px 15px 0;
  transition: all 0.25s; }

#login-section button:hover {
  background: #8FB9FF;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); }

#login-section .off {
  background: none;
  color: #406BB2;
  box-shadow: none; }

#login-section .right .off:hover {
  background: #eee;
  color: #406BB2;
  box-shadow: none; }

#login-section .left .off:hover {
  box-shadow: none;
  color: #406BB2;
  background: #363A3D; }

#login-section input {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #45494C;
  font-size: 14px;
  color: #959595;
  padding: 8px 0;
  margin-top: 20px; }

#login-section .expand {
  display: block !important; }

.lessons-wrapper {
  width: 225px;
  height: 91vh;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative; }

.lessons {
  max-height: 100%;
  font-family: 'Quicksand';
  margin-left: 10px;
  overflow: auto;
  margin-right: -17px;
  padding-right: 0;
  padding-bottom: 65px; }
  .lessons h3 {
    margin: 5px 0 0 0;
    cursor: pointer; }
  .lessons h4 {
    color: black;
    font-weight: bolder;
    margin: 0 auto 0 25%; }
  .lessons ul {
    margin: 0 auto 0 auto;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer; }
  .lessons li {
    list-style: none;
    line-height: 35px;
    cursor: pointer;
    color: #808080; }
  .lessons .lesson-title {
    color: black; }
    .lessons .lesson-title h3 {
      font-size: 17px; }
  .lessons .lesson-sections {
    display: none; }
  .lessons .expand {
    display: block !important; }
  .lessons .take-assessment {
    width: 165px;
    height: 65px;
    color: white;
    background: #406BB2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%); }

#navigation-bar {
  width: 100vw;
  height: 8.25vh;
  padding: 15px;
  font-family: 'Lato';
  font-weight: bold;
  color: #FFF;
  background: #8FB9FF;
  display: flex;
  justify-content: space-between;
  align-items: center; }

#profile-wrapper {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#menu-navigation {
  height: auto;
  font-family: 'Quicksand';
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  display: none;
  float: right;
  cursor: pointer; }
  #menu-navigation ul {
    padding-right: 25px; }
  #menu-navigation li {
    color: #406BB2;
    line-height: 35px;
    list-style: none; }

html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato'; }

*, *::before, *::after {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: white; }
