html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato'; }

*, *::before, *::after {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: white; }



#assessment-view .code-input-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0; }

#assessment-view .ace_editor {
  height: 200px; }

#assessment-view .assessment-eval {
  color: #fff;
  margin: 1em; }

#assessment-view button {
  background: #406BB2;
  padding: 10px 16px;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  transition: all 0.25s; }

#assessment-view button:hover {
  background: #8FB9FF;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); }

#assessment-view button:disabled {
  visibility: hidden; }

#assessment-view #submit-assessment {
  float: right;
  margin: 4em; }

#assessment-view .stuff {
  color: #406BB2;
  width: 90vw;
  margin: 1em; }

#assessment-view input {
  width: 100vw;
  height: 20vh; }

#dashboard-wrapper {
  width: 100vw;
  height: 91vh;
  position: relative; }

#dashboard {
  width: 80vw;
  height: 75vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #dashboard div span {
    cursor: pointer; }

#dashboard-top {
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #406BB2;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; }
  #dashboard-top div {
    cursor: pointer; }

.graph-color-scheme {
  display: flex;
  flex-direction: column; }
  .graph-color-scheme div {
    display: flex;
    flex-direction: row; }
  .graph-color-scheme .your-color {
    width: 20px;
    height: 20px;
    background: #FFE3A8; }
  .graph-color-scheme .cohort-color {
    width: 20px;
    height: 20px;
    background: #406BB2; }

#unit-test-menu {
  width: 175px;
  background: white;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  position: absolute;
  display: none;
  z-index: 9; }
  #unit-test-menu ul {
    margin: 10px auto 10px auto;
    padding-left: 35px;
    list-style: none; }
  #unit-test-menu li {
    color: #406BB2;
    cursor: pointer;
    line-height: 35px; }

#unit-subview {
  width: 100%;
  height: 100%; }

#unit-subview div {
  width: 90%;
  height: 90%;
  background: white;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; }
  #unit-subview div:first-child {
    z-index: 2; }
  #unit-subview div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#unit-subview #js-graph-div #main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 432px; }

#unit-subview #js-graph-div svg text {
  pointer-events: none; }

#unit-subview #js-graph-div rect {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

#unit-subview #js-graph-div rect:hover {
  fill: #8FB9FF; }

#home-wrapper {
  font-family: 'Lato';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1; }

.home-top {
  margin-top: 10vh; }
  .home-top div {
    font-weight: bold;
    top: 50%;
    transform: translate(-50%); }

button {
  margin: 4em;
  background: #406BB2;
  padding: 10px 16px;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  margin-top: 20px;
  transition: all 0.25s; }

button:hover {
  background: #8FB9FF;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); }

button {
  margin: 4em;
  background: #406BB2;
  padding: 10px 16px;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  transition: all 0.25s; }

button:hover {
  background: #8FB9FF;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); }


.lessonTests {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 100%; }
  .lessonTests .lessonTests > h2, .lessonTests .lessonTests > div {
    position: absolute; }
  .lessonTests h2 {
    text-align: center;
    color: #406BB2; }
  .lessonTests .multiple-choice-wrapper {
    max-width: 700px;
    display: flex;
    justify-content: center;
    margin: auto; }
  .lessonTests .test-question {
    line-height: 3em; }
  .lessonTests .quiz-options {
    text-align: center; }
  .lessonTests button {
    background-color: #ebebeb;
    border: #fff 1px solid;
    color: #406BB2;
    width: 21.775em;
    height: 6em;
    transition: 0.3s;
    text-align: center;
    font-size: 1em;
    font-family: 'lato';
    border: none;
    border-radius: 0;
    line-height: 2rem;
    padding: 0 1rem;
    text-align: center;
    position: relative;
    margin: 2px auto; }
  .lessonTests button:hover, .lessonTests #choiceClicked {
    background-color: #8FB9FF;
    color: #fff;
    cursor: pointer;
    outline: 0; }
  .lessonTests form:nth-child(1) {
    margin-bottom: 25px; }

.lesson-tests-wrapper {
  width: 500px;
  height: 100vh;
  margin-bottom: 25px;
  display: none; }
  .lesson-tests-wrapper .lesson-tests-placeholder {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1; }
  .lesson-tests-wrapper section {
    width: calc(100% - 5vw);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: white;
    z-index: 0; }

.final-score {
  width: 300px;
  height: 100px;
  color: white;
  background: #406BB2;
  padding: 20px;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%); }

.submit-functions-test {
  display: flex;
  justify-content: center; }
  .submit-functions-test div {
    width: 200px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column; }
    .submit-functions-test div input {
      height: 32px;
      color: #406BB2;
      margin: 5px;
      border: none;
      cursor: pointer; }
      .submit-functions-test div input:hover {
        box-shadow: 0 0 10px #406BB2; }

#side-bar-placeholder {
  width: 225px;
  height: 91vh;
  position: relative;
  float: left; }

.lessons-wrapper {
  width: 225px;
  height: 91vh;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: fixed; }

.lessons {
  max-height: 100%;
  font-family: 'Quicksand';
  margin-left: 10px;
  overflow: auto;
  margin-right: -17px;
  padding-right: 0;
  padding-bottom: 100px; }
  .lessons h3 {
    margin: 5px 0 0 0;
    cursor: pointer; }
  .lessons h4 {
    color: black;
    font-weight: bolder;
    margin: 0 auto 0 25%;
    cursor: pointer; }
  .lessons ul {
    margin: 0 auto 0 auto;
    padding: 5px;
    padding-left: 10px; }
  .lessons li {
    list-style: none;
    line-height: 35px;
    color: #3A3A3A; }
  .lessons .lesson-title {
    color: black; }
    .lessons .lesson-title h3 {
      font-size: 17px; }
  .lessons .lesson-sections {
    display: none; }
  .lessons .expand {
    display: block !important; }
  .lessons a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: white; }
  .lessons button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #406BB2;
    padding: 10px 16px;
    width: auto;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    transition: all 0.25s; }
  .lessons button:hover {
    background: #8FB9FF;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); }

.lessons-content-wrapper {
  position: relative; }

.content-wrapper {
  width: calc(100% - 225px);
  position: relative;
  float: left;
  margin-bottom: 50px; }

.video-placeholder {
  width: 500px;
  height: 300px;
  background: silver;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 25px; }
  .video-placeholder span {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.lessons-practice {
  width: 500px;
  height: 300px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 35px; }
  .lessons-practice form {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%); }
    .lessons-practice form input {
      margin: 10px 10px 15px auto; }

#welcome-page {
  width: 500px;
  height: 300px;
  color: white;
  background: #406BB2;
  margin-top: 25px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center; }

#login-section body {
  height: 100%;
  overflow: hidden;
  width: 100% !important;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

#login-section .backRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=231736de0bc92d79a6ee049208b9c283);
  background-size: cover;
  background-position: 50% 50%; }

#login-section .backLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1443521156453-f82c842b6e7f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=782f7123d51d573e591300a4d74e2c84);
  background-size: cover;
  background-position: 50% 50%; }

#login-section #login-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1; }

#login-section #slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

#login-section .topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%; }

#login-section .left {
  width: 50%;
  height: 100%;
  background: #2C3034;
  left: 0;
  position: absolute; }

#login-section .right {
  width: 50%;
  height: 100%;
  background: #f9f9f9;
  right: 0;
  position: absolute; }

#login-section .content {
  width: 250px;
  margin: 0 auto;
  top: 30%;
  position: absolute;
  left: 50%;
  margin-left: -125px;
  font-family: 'Lato'; }

#login-section .content h2 {
  color: #406BB2;
  font-weight: 300;
  font-size: 35px; }

#login-section .form-group {
  margin: 25px; }

#login-section button {
  background: #406BB2;
  padding: 10px 16px;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  margin: 15px 15px 15px 0;
  transition: all 0.25s; }

#login-section button:hover {
  background: #8FB9FF;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); }

#login-section .off {
  background: none;
  color: #406BB2;
  box-shadow: none; }

#login-section .right .off:hover {
  background: #eee;
  color: #406BB2;
  box-shadow: none; }

#login-section .left .off:hover {
  box-shadow: none;
  color: #406BB2;
  background: #363A3D; }

#login-section input {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #45494C;
  font-size: 14px;
  color: #959595;
  padding: 8px 0;
  margin-top: 20px; }

#login-section .expand {
  display: block !important; }

#navigation-placeholder {
  width: 100vw;
  height: 8.25vh;
  position: relative; }

#navigation-bar {
  width: 100vw;
  height: 8.25vh;
  padding: 15px;
  font-family: 'Lato';
  font-weight: bold;
  color: #FFF;
  background: #406BB2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9; }

#profile-wrapper {
  cursor: pointer;
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#menu-navigation {
  height: auto;
  font-family: 'Quicksand';
  background: white;
  display: none;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 9; }
  #menu-navigation ul {
    padding-right: 25px; }
  #menu-navigation li {
    color: #406BB2;
    line-height: 35px;
    list-style: none; }
  #menu-navigation li:hover {
    background-color: #8FB9FF;
    opacity: 0.3; }

.climber {
  position: relative; }

.cloud,
.cloud:after,
.cloud:before {
  position: absolute;
  padding: 0px;
  margin: 0px;
  content: '';
  width: 75px;
  height: 30px;
  background: #b1bebf;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  pointer-events: none; }

.cloud {
  top: 185px;
  padding: 0px;
  margin: 0px;
  -webkit-animation: cloud 50s infinite linear;
  animation: cloud 50s infinite linear;
  box-shadow: -5px -2px 4px rgba(215, 244, 246, 0.9);
  z-index: -4; }

@-webkit-keyframes cloud {
  0% {
    left: -100px; }
  100% {
    left: 110vw; } }

@keyframes cloud {
  0% {
    left: -100px; }
  100% {
    left: 110vw; } }

.cloud:before {
  content: '';
  left: 31px;
  top: -14px;
  padding: 0px;
  margin: 0px;
  box-shadow: 5px -1px 4px white; }

.cloud:after {
  content: '';
  left: 31px;
  top: -14px;
  top: 2px;
  left: 47px;
  padding: 0px;
  margin: 0px;
  box-shadow: 7px -1px 4px white; }

input[type=range] {
  -webkit-appearance: none;
  width: 75%;
  margin: 2.05px 0;
  background: transparent; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 0.1px #FFF, 0 0 0 #FFF;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  background: #e4f14c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 1.5em;
  z-index: -100; }

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0.1px #FFF, 0 0 0 #FFF;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  background: #e4f14c;
  cursor: pointer;
  margin-top: 1.5em;
  z-index: -100; }

input[type=range]::-ms-thumb {
  box-shadow: 0 0 0.1px #FFF, 0 0 0 #FFF;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  background: #e4f14c;
  cursor: pointer;
  margin-top: 1.5em;
  z-index: -100; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1); }

input[type=range]::-webkit-slider-runnable-track {
  width: 70%;
  height: 10.9px;
  cursor: pointer;
  background: transparent;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1); }

input[type=range]::-moz-range-track {
  width: 70%;
  height: 10.9px;
  cursor: pointer;
  background: transparent; }

input[type=range]::-ms-track {
  width: 70%;
  height: 10.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  border-radius: 13px;
  background: transparent; }

input[type=range]::-ms-fill-upper {
  border-radius: 13px;
  background: transparent; }

input[type=range]:focus::-ms-fill-lower {
  background: transparent; }

input[type=range]:focus::-ms-fill-upper {
  background: transparent; }

input[type=range] {
  -webkit-appearance: none;
  width: 75%;
  margin: 2.05px 0;
  background: transparent; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 0.1px #FFF, 0 0 0 #FFF;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  background: #e4f14c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 1.5em;
  z-index: -100; }

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0.1px #FFF, 0 0 0 #FFF;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  background: #e4f14c;
  cursor: pointer;
  margin-top: 1.5em;
  z-index: -100; }

input[type=range]::-ms-thumb {
  box-shadow: 0 0 0.1px #FFF, 0 0 0 #FFF;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  background: #e4f14c;
  cursor: pointer;
  margin-top: 1.5em;
  z-index: -100; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1); }

input[type=range]::-webkit-slider-runnable-track {
  width: 70%;
  height: 10.9px;
  cursor: pointer;
  background: transparent;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1); }

input[type=range]::-moz-range-track {
  width: 70%;
  height: 10.9px;
  cursor: pointer;
  background: transparent; }

input[type=range]::-ms-track {
  width: 70%;
  height: 10.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  border-radius: 13px;
  background: transparent; }

input[type=range]::-ms-fill-upper {
  border-radius: 13px;
  background: transparent; }

input[type=range]:focus::-ms-fill-lower {
  background: transparent; }

input[type=range]:focus::-ms-fill-upper {
  background: transparent; }

#mtn-wrapper {
  font-family: 'Lato';
  position: relative;
  top: 50vh;
  left: 50%;
  width: 100vw;
  height: 91.75vh;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

#mountainScene-left {
  position: absolute;
  width: 0;
  height: 0;
  left: calc(50vw - 22em + 1px);
  top: calc(50vh - 22em);
  border-left: 22em solid transparent;
  border-bottom: 22em;
  border-bottom-style: solid;
  border-bottom-color: #5b4a39;
  margin-top: 8vh;
  z-index: -3; }
  #mountainScene-left div {
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translate(-50%); }

#mountainScene-right {
  position: absolute;
  width: 0;
  height: 0;
  right: calc(50vw - 22em + 1px);
  top: calc(50vh - 22em);
  border-right: 22em solid transparent;
  border-bottom: 22em;
  border-bottom-style: solid;
  border-bottom-color: #756f56;
  margin-top: 8vh;
  z-index: -3; }
  #mountainScene-right div {
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translate(-50%); }

#bgMountain-Left {
  position: absolute;
  width: 0;
  height: 0;
  left: calc(75vw - 13em + 1px);
  top: calc(53vh - 13em);
  border-left: 13em solid transparent;
  border-bottom: 13em solid #523b28;
  z-index: -5; }

#bgMountain-right {
  position: absolute;
  width: 0;
  height: 0;
  right: calc(25vw - 13em + 1px);
  top: calc(53vh - 13em);
  border-right: 13em solid transparent;
  border-bottom: 13em solid #675f3f;
  z-index: -5; }

#bigDirt,
#bigDirt:after,
#bigDirt:before {
  position: absolute;
  width: calc(26vw + 36em);
  height: 0;
  right: calc(25vw - 13em + 1px);
  top: calc(57vh - 4em);
  border: 5em solid #423b2d;
  border-radius: 60%;
  z-index: -7; }

#bigDirt {
  -webkit-box-shadow: 13em -3.4em 1px -2.75em #423b2d;
  -moz-box-shadow: 13em -3.4em 1px -2.75em #423b2d;
  box-shadow: 13em -3.4em 1px -2.75em #423b2d; }

.home-bottom {
  height: 70px;
  position: absolute;
  justify-content: space-around;
  top: 60vh;
  left: calc(50vw - 90px);
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  background: #406BB2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 2px 2px 5px; }
  .home-bottom span {
    margin: 20px; }

.spawnTreesBtn {
  padding-top: 0;
  position: absolute;
  top: 129px; }

.spawnRocksBtn {
  padding-top: 0;
  position: absolute;
  top: 86px; }

.spawnSnowPeakBtn {
  padding-top: 0;
  position: absolute;
  top: 43px; }

.spawnBackgroundBtn {
  padding-top: 0;
  position: absolute;
  top: 0; }

.spawnCloudsBtn {
  padding-top: 0;
  position: absolute;
  top: 172px; }

.spawnClimberBtn {
  padding-top: 0;
  position: absolute;
  top: 212px; }

#trees {
  width: 2.4em;
  height: 0;
  position: relative;
  left: 0;
  top: 1em; }

i {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0; }

.my-trees {
  position: relative; }

.treeParts {
  margin: 0;
  padding: 0; }

.treeTop {
  border: 0.39 solid transparent; }

.treeMid {
  border: 0.55em solid transparent; }

.treeBase {
  border: 0.55em solid transparent; }

.treeTrunk {
  border: none;
  width: 0.31em;
  height: 0.31em;
  background-color: #522200; }
