html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato'; }

*, *::before, *::after {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: white; }

#assessment-view .code-input-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0; }

#assessment-view .ace_editor {
  height: 200px; }

#assessment-view .assessment-eval {
  color: #fff;
  margin: 1em; }

#assessment-view button {
  background: #406BB2;
  padding: 10px 16px;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  transition: all 0.25s; }

#assessment-view button:hover {
  background: #8FB9FF;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); }

#assessment-view button:disabled {
  visibility: hidden; }

#assessment-view .stuff {
  color: #406BB2;
  width: 90vw;
  margin: 1em; }

#assessment-view input {
  width: 100vw;
  height: 20vh; }

#dashboard-wrapper {
  width: 100vw;
  height: 91vh;
  position: relative; }

#dashboard {
  width: 80vw;
  height: 75vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #dashboard div span {
    cursor: pointer; }

#dashboard-top {
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #406BB2;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; }
  #dashboard-top div {
    cursor: pointer; }

.graph-color-scheme {
  display: flex;
  flex-direction: column; }
  .graph-color-scheme div {
    display: flex;
    flex-direction: row; }
  .graph-color-scheme .your-color {
    width: 20px;
    height: 20px;
    background: #FFE3A8; }
  .graph-color-scheme .cohort-color {
    width: 20px;
    height: 20px;
    background: #406BB2; }

#unit-test-menu {
  width: 175px;
  background: white;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  position: absolute;
  display: none;
  z-index: 9; }
  #unit-test-menu ul {
    margin: 10px auto 10px auto;
    padding-left: 35px;
    list-style: none; }
  #unit-test-menu li {
    color: #406BB2;
    cursor: pointer;
    line-height: 35px; }

#unit-subview {
  width: 100%;
  height: 100%; }

#unit-subview div {
  width: 500px;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; }
  #unit-subview div:first-child {
    z-index: 2; }
  #unit-subview div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#unit-subview #js-graph-div div {
  font-family: 'Lato';
  font-size: 11px;
  font-weight: 300;
  fill: #242424;
  text-align: center;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  cursor: default; }

#unit-subview #js-graph-div .legend {
  font-family: 'Lato';
  fill: #333333; }

#unit-subview #js-graph-div .tooltip {
  fill: #333333; }

#home-wrapper {
  font-family: 'Lato';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1; }

.home-top {
  margin-top: 10vh; }
  .home-top div {
    font-weight: bold;
    top: 50%;
    transform: translate(-50%); }


.lessonTests {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 100%; }
  .lessonTests .lessonTests > h2, .lessonTests .lessonTests > div {
    position: absolute; }
  .lessonTests h2 {
    text-align: center;
    color: #406BB2; }
  .lessonTests .multiple-choice-wrapper {
    max-width: 700px;
    display: flex;
    justify-content: center;
    margin: auto; }
  .lessonTests .test-question {
    line-height: 3em; }
  .lessonTests .quiz-options {
    text-align: center; }
  .lessonTests button {
    background-color: #ebebeb;
    border: #fff 1px solid;
    color: #406BB2;
    width: 21.775em;
    height: 6em;
    transition: 0.3s;
    text-align: center;
    font-size: 1em;
    font-family: 'lato';
    border: none;
    border-radius: 0;
    line-height: 2rem;
    padding: 0 1rem;
    text-align: center;
    position: relative;
    margin: 2px auto; }
  .lessonTests button:hover, .lessonTests button:active, .lessonTests button:focus, .lessonTests button.selected {
    background-color: #8FB9FF;
    color: #fff;
    cursor: pointer;
    outline: 0; }
  .lessonTests form:nth-child(1) {
    margin-bottom: 25px; }

.lesson-tests-wrapper {
  width: 500px;
  height: 100vh;
  margin-bottom: 25px;
  display: none; }
  .lesson-tests-wrapper .lesson-tests-placeholder {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1; }
  .lesson-tests-wrapper section {
    width: calc(100% - 5vw);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: white;
    z-index: 0; }

.final-score {
  width: 300px;
  height: 100px;
  color: white;
  background: #406BB2;
  padding: 20px;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%); }

.submit-functions-test {
  display: flex;
  justify-content: center; }
  .submit-functions-test div {
    width: 200px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column; }
    .submit-functions-test div input {
      height: 32px;
      color: #406BB2;
      margin: 5px;
      border: none;
      cursor: pointer; }
      .submit-functions-test div input:hover {
        box-shadow: 0 0 10px #406BB2; }

#side-bar-placeholder {
  width: 225px;
  height: 91vh;
  position: relative;
  float: left; }

.lessons-wrapper {
  width: 225px;
  height: 91vh;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: fixed; }

.lessons {
  max-height: 100%;
  font-family: 'Quicksand';
  margin-left: 10px;
  overflow: auto;
  margin-right: -17px;
  padding-right: 0;
  padding-bottom: 100px; }
  .lessons h3 {
    margin: 5px 0 0 0;
    cursor: pointer; }
  .lessons h4 {
    color: black;
    font-weight: bolder;
    margin: 0 auto 0 25%;
    cursor: pointer; }
  .lessons ul {
    margin: 0 auto 0 auto;
    padding: 5px;
    padding-left: 10px; }
  .lessons li {
    list-style: none;
    line-height: 35px;
    color: #3A3A3A; }
  .lessons .lesson-title {
    color: black; }
    .lessons .lesson-title h3 {
      font-size: 17px; }
  .lessons .lesson-sections {
    display: none; }
  .lessons .expand {
    display: block !important; }
  .lessons #take-assessment {
    width: 165px;
    height: 65px;
    color: white;
    background: #406BB2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 25px; }
    .lessons #take-assessment:hover {
      box-shadow: 0 0 10px #8FB9FF; }

.lessons-content-wrapper {
  position: relative; }

.content-wrapper {
  width: calc(100% - 225px);
  position: relative;
  float: left;
  margin-bottom: 50px; }

.video-placeholder {
  width: 500px;
  height: 300px;
  background: silver;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 25px; }
  .video-placeholder span {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.lessons-practice {
  width: 500px;
  height: 300px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 35px; }
  .lessons-practice form {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%); }
    .lessons-practice form input {
      margin: 10px 10px 15px auto; }

#welcome-page {
  width: 500px;
  height: 300px;
  color: white;
  background: #406BB2;
  margin-top: 25px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center; }

#login-section body {
  height: 100%;
  overflow: hidden;
  width: 100% !important;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

#login-section .backRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=231736de0bc92d79a6ee049208b9c283);
  background-size: cover;
  background-position: 50% 50%; }

#login-section .backLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1443521156453-f82c842b6e7f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=782f7123d51d573e591300a4d74e2c84);
  background-size: cover;
  background-position: 50% 50%; }

#login-section #login-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1; }

#login-section #slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

#login-section .topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%; }

#login-section .left {
  width: 50%;
  height: 100%;
  background: #2C3034;
  left: 0;
  position: absolute; }

#login-section .right {
  width: 50%;
  height: 100%;
  background: #f9f9f9;
  right: 0;
  position: absolute; }

#login-section .content {
  width: 250px;
  margin: 0 auto;
  top: 30%;
  position: absolute;
  left: 50%;
  margin-left: -125px;
  font-family: 'Lato'; }

#login-section .content h2 {
  color: #406BB2;
  font-weight: 300;
  font-size: 35px; }

#login-section .form-group {
  margin: 25px; }

#login-section button {
  background: #406BB2;
  padding: 10px 16px;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  margin: 15px 15px 15px 0;
  transition: all 0.25s; }

#login-section button:hover {
  background: #8FB9FF;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); }

#login-section .off {
  background: none;
  color: #406BB2;
  box-shadow: none; }

#login-section .right .off:hover {
  background: #eee;
  color: #406BB2;
  box-shadow: none; }

#login-section .left .off:hover {
  box-shadow: none;
  color: #406BB2;
  background: #363A3D; }

#login-section input {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #45494C;
  font-size: 14px;
  color: #959595;
  padding: 8px 0;
  margin-top: 20px; }

#login-section .expand {
  display: block !important; }

.climber {
  position: relative; }

.climber > i {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 0.5em solid #1142AA;
  border-bottom: 0.5em solid #1142AA;
  border-left: 0.5em solid #1142AA;
  border-right: 0.5em solid #1142AA;
  border-radius: 0.5em / 0.5em;
  left: 1.8em;
  top: 0.2em; }

.climber > i + i {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.5em solid transparent;
  border-right: 1.5em solid #AA1111;
  border-top: 0.5em solid #AA1111;
  left: 2.5em;
  top: 1em; }

.climber > i + i + i {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0; }

.climber > i + i + i + i {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 0.75em solid transparent;
  border-right: 0.5em solid #1142AA;
  border-bottom: 0.5em solid #1142AA;
  border-left: 0.75em solid transparent;
  border-radius: 5em 0em 2em 0em;
  left: 1.2em;
  top: 1.1em; }

.climber > i + i + i + i + i {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  order-left: 1em solid transparent;
  border-right: 1em solid #1142AA;
  border-top: 2em solid #1142AA;
  border-bottom: 0em solid rgba(17, 66, 170, 0);
  border-radius: 0em 2em 0em 3em;
  left: 2.6em;
  top: 1em;
  z-index: -1; }

.climber > i + i + i + i + i + i {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.5em solid transparent;
  margin-top: -0.5em;
  border-bottom: 0.5em solid #1142AA;
  left: 1.99em;
  top: 1em; }

.climber > i + i + i + i + i + i + i {
  position: absolute;
  display: inline-block;
  width: 0.5em;
  height: 2em;
  left: 3.5em;
  top: 2.5em; }

.climber > i + i + i + i + i + i + i + i {
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 2em;
  left: 2.9em;
  top: 2.2em; }

.climber > i + i + i + i + i + i + i + i + i {
  position: absolute;
  display: inline-block;
  width: 0.5em;
  height: 1.5em;
  background-color: #aa2611;
  left: 2em;
  top: 2.5em; }

#mtn-wrapper {
  font-family: 'Lato';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; }

#mountainScene-left {
  position: absolute;
  width: 0;
  height: 0;
  left: calc(50vw - 19.95em);
  border-left: 20em solid transparent;
  border-bottom: 21em solid #77573b;
  margin-bottom: 8vh;
  margin-top: 8vh;
  z-index: -3; }
  #mountainScene-left div {
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translate(-50%); }

#mountainScene-right {
  position: absolute;
  width: 0;
  height: 0;
  left: calc(50vw - 0em);
  border-right: 20em solid transparent;
  border-bottom: 21em solid #95895c;
  margin-bottom: 8vh;
  margin-top: 8vh;
  z-index: -3; }
  #mountainScene-right div {
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translate(-50%); }

#bgMountain-Left {
  position: absolute;
  width: 0;
  height: 0;
  left: calc(80vw - 17.94em);
  bottom: calc(70vh - 20em);
  border-left: 13em solid transparent;
  border-bottom: 13em solid #523b28;
  margin-bottom: 4vh;
  margin-top: 4vh;
  z-index: -4; }

#bgMountain-right {
  position: absolute;
  width: 0;
  height: 0;
  left: calc(80vw - 5em);
  bottom: calc(70vh - 20em);
  border-right: 13em solid transparent;
  border-bottom: 13em solid #675f3f;
  margin-bottom: 4vh;
  margin-top: 4vh;
  z-index: -4; }

.home-bottom {
  width: 150px;
  height: 70px;
  position: relative;
  top: 385px;
  left: 0;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  background: #406BB2;
  border-radius: 5px;
  display: flex;
  align-items: center; }
  .home-bottom span {
    margin: 20px; }

.spawnTreesBtn {
  padding-top: 0;
  position: absolute;
  top: 69px; }

.spawnRocksBtn {
  padding-top: 0;
  position: absolute;
  top: 46px; }

.spawnSnowPeakBtn {
  padding-top: 0;
  position: absolute;
  top: 23px; }

.spawnBackgroundBtn {
  padding-top: 0;
  position: absolute;
  top: 0px; }

#trees {
  width: 2.4em;
  height: 0px;
  position: relative;
  left: 0em;
  top: 1em; }

.my-trees {
  position: relative; }

i {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0; }

.my-trees > i {
  border: 0.55em solid transparent;
  margin-top: -0.55em;
  border-bottom: 0.55em solid green;
  left: 1.045em;
  top: 0.78em; }

.my-trees > i + i {
  border: 0.5526315789473684em solid transparent;
  margin-top: -0.5526315789473684em;
  border-bottom: 0.5526315789473684em solid green;
  left: -0.2em;
  top: 0.47em; }

.my-trees > i + i + i {
  border: 0.39473684210526316em solid transparent;
  margin-top: -0.39473684210526316em;
  border-bottom: 0.39473684210526316em solid green;
  left: 1.185em;
  top: -1.1em; }

.my-trees > i + i + i + i {
  border-style: none;
  width: 0.15em;
  height: 0.31em;
  background-color: #522200;
  left: 0.53em;
  top: -0.2em; }

.my-trees > i + i + i + i + i {
  border: 0.23684210526315788em solid transparent;
  margin-top: -0.23684210526315788em;
  border-bottom: 0.23684210526315788em solid green;
  left: 2.3684210526315788em;
  top: 0.9473684210526315em; }

.my-trees > i + i + i + i + i + i {
  border: 0.15789473684210525em solid transparent;
  margin-top: -0.15789473684210525em;
  border-bottom: 0.15789473684210525em solid green;
  left: 2.2105263157894735em;
  top: 0em; }

.my-trees > i + i + i + i + i + i + i {
  border: 0.39473684210526316em solid transparent;
  margin-top: -0.39473684210526316em;
  border-bottom: 0.39473684210526316em solid green;
  left: 2.2105263157894735em;
  top: 1.1052631578947367em; }

.my-trees > i + i + i + i + i + i + i + i {
  border: 0.39473684210526316em solid transparent;
  margin-top: -0.39473684210526316em;
  border-bottom: 0.39473684210526316em solid green;
  left: 2.2105263157894735em;
  top: 1.4210526315789473em; }

.my-trees > i + i + i + i + i + i + i + i + i {
  position: relative;
  display: inline-block;
  width: 0.15789473684210525em;
  height: 0.3157894736842105em;
  background-color: green;
  left: 2.526315789473684em;
  top: 1.894736842105263em; }

#navigation-placeholder {
  width: 100vw;
  height: 8.25vh;
  position: relative; }

#navigation-bar {
  width: 100vw;
  height: 8.25vh;
  padding: 15px;
  font-family: 'Lato';
  font-weight: bold;
  color: #FFF;
  background: #8FB9FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9; }

#profile-wrapper {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#menu-navigation {
  height: auto;
  font-family: 'Quicksand';
  background: white;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  display: none;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 9; }
  #menu-navigation ul {
    padding-right: 25px; }
  #menu-navigation li {
    color: #406BB2;
    line-height: 35px;
    list-style: none; }
