@import url(https://fonts.googleapis.com/css?family=Lato:300|Quicksand);
html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: white; }

#navigation-bar {
  width: 100vw;
  height: 7vh;
  padding: 15px;
  font-family: 'Lato';
  color: #FFF;
  background: #406BB2;
  display: flex;
  justify-content: space-between;
  align-items: center; }

#menu-navigation {
  height: auto;
  font-family: 'Quicksand';
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  display: none;
  float: right; }
  #menu-navigation ul {
    padding-right: 25px; }
  #menu-navigation li {
    color: #406BB2;
    line-height: 35px;
    list-style: none; }

.expand {
  display: flex; }
